worker_processes 1;
daemon off;
@@USER_DIRECTIVE@@

events { worker_connections 1024; }

http {
    include @@MIME_TYPES@@;
    default_type application/octet-stream;
    
    access_log logs/access.log;
    error_log logs/error.log warn;

    client_body_buffer_size 10m;
    client_max_body_size 20m;
    lua_package_path "lua/?.lua;;";

    server {
        listen 11435;
        
        # Dashboard UI
        location = /metrics { return 301 /metrics/; }
        location /metrics/ {
            alias html/;
            index index.html;
        }
        location = /metrics.json {
            default_type application/json;
            content_by_lua_file lua/metrics_json.lua;
        }
        location = /clear {
            default_type application/json;
            content_by_lua_file lua/clear_logs.lua;
        }

        # Ollama Proxy
        location / {
            proxy_pass http://127.0.0.1:11434;
            proxy_http_version 1.1;
            proxy_buffering off;
            proxy_request_buffering off;
            lua_need_request_body on;

            access_by_lua_file lua/request.lua;
            body_filter_by_lua_file lua/response.lua;
            log_by_lua_file lua/log.lua;
        }
    }
}
